$whatsapp-color: #25D366;
$whatsapp-icon-size: 34px;
$navbar-animation: slideIn 1.0s ease-out;
$navbar-toggler-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

$background-image: url("../img/Backgroundns.webp");
$btn-color: white;
$btn-text-color: black;
$btn-border-color: black;
$btn-active-color: rgb(54, 27, 27);
$card-body-color: rgb(154, 208, 154);
$card-body-text-color: black;
$card-border-radius: 15px;

$btn-compra-color: rgb(2, 42, 63);
$btn-compra-text-color: white;
$contacto-border-color: black;